@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

body {
    margin-top: 60px;
    font-family: 'Poppins', sans-serif;
    background: hsl(0, 0%, 98%);
    color: hsl(229, 6%, 66%);
    text-align: center;
    line-height: 0.9;
}

.heading1 {
    font-weight: 200;
    color: hsl(234, 12%, 34%);
}

.heading2 {
    font-weight: 600;
    color: hsl(234, 12%, 34%);
}

.centercontainer {
    display: inline-block;
}

.container {
    width: 80vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    margin: 16px;
    width: 320px;   
    height: 200px;
    background: rgb(255, 255, 255);
    border-radius: 5px;
    box-shadow: 2px 2px 20px 2px hsl(0, 0%, 91%);
    border-top: 5px solid;
    text-align: left;
    padding: 16px;
}

.img {
    position: relative;
    top: 20%;
    left: 80%;
}

@media only screen and (max-width: 600px) {
    .container {
        display: block;
    }
}